.container {
    height: 350px;
    display: flex;
  }
  .left { 
      flex: 1;
      background-color: #eeedb0;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      align-items: center;
  }
  .right {
      flex: 1;
      background-color: #a6c8b3;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      align-items: center;
  }
  .center {
      flex: 2;
      background-color: #9fbfe7;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      align-items: center;
  }